{% extends "base.html"%}
{% block title %}
    Home page
{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{{url_for('home_app.static', filename = 'css/style.css')}}">
    <img src="{{url_for('home_app.static', filename = 'images/frame_background.png')}}" alt="" class="frame_background">
    <h1>Головна Сторінка</h1>
    <h1 class = "otzuv">Залишити відгук</h1>
    <form method = "POST">
        <h1 class = 'name'>Ім'я</h1>
        <input class = 'input-name' type="text" name = "name" placeholder="Ім'я">
        <h1 class = 'email'>Пошта</h1>
        <input class = 'input-email' type="text" name = "email" placeholder="Пошта">
        <h1 class = 'review'>Відгук</h1>
        <textarea class = 'review-input' name="review" id="" placeholder="Відгук"></textarea>
        <button class = 'send' type="submit">Надіслати</button>
    </form>

{% endblock %}
