{% extends "base.html"%}
{% block title %}
    Home page
{% endblock %}
{% block content %}
    <h1>Головна Сторінка</h1>
    <form method="POST" enctype="multipart/form-data" class = 'form'>
        <h1 id = "zamovlennya">ОФОРМЛЕННЯ ЗАМОВЛЕННЯ</h1>
        <h1 id = "name">ІМ'Я:</h1>
        <input type="text"  name = "name" id = "name-input">
        <h1 id = "email">EMAIL ЗАМОВНИКА:</h1>
        <input type="text" name = "email" id = "email-input">
        <h1 id = "wish">ДОДАТКОВІ ПОБАЖАННЯ:</h1>
        <input type="text" name = "wish" id = "wish-input">
        <button type="submit" id = "send">SEND</button>
    </form>
{% endblock %}
