{% extends 'base.html' %}
{% block content %}
    <link rel="stylesheet" href="{{url_for('registration_app.static', filename = 'css/style.css')}}">
    <img src="{{url_for('home_app.static', filename = 'images/frame_background.png')}}" alt="" class="frame_background">
    <h1 class = "h1Reg">Реєстрація</h1>
    <form method = "POST">
        <input class = "inputName" type="text" name = "name" placeholder="Ім'я">
        <h1 class = "h1Password" >Пароль</h1>
        <input class = "inputPassword" type="text" name = "password" placeholder="Пароль">
        <button class = "send" type="submit">Відправити</button>
    </form>

{% endblock %}