{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="{{url_for('login_app.static', filename = 'css/style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <img src="{{url_for('home_app.static', filename = 'images/frame_background.png')}}" alt="" class="frame_background">
    <div class = "monstrat">
        {% if flask_login.current_user.is_authenticated %}
            <h1 class = "name">Вітаємо, {{flask_login.current_user.name}}!</h1>
            <a class = "main1" class = "main" href="/">Головна</a>
            <a class = "tour1" href="/tour/">Путівка</a>
            <form action="/logout" method="POST">
                <button class= "logout" type = "submit">Вийти з аканту</button>
            </form>
        {% else %}  
            <a class = "reg" href="/registration/">Реєстрація</a>
            <a class = "log" href="/login/">Авторизація</a>
            <a class = "main2"href="/">Головна</a>
            <a class = "tour2" href="/tour/">Путівка</a>
        {% endif %}
        <h1 class = "h1Reg">Авторизація</h1>
        <form method = "POST">
            <input class = "inputName" type="text" name = "name" placeholder="Ім'я">
            <h1 class = "h1Password" >Пароль</h1>
            <input class = "inputPassword" type="password" name = "password" placeholder="Пароль">
            <button class = "send" type="submit">Відправити</button>
        </form>
    </div>



    <!-- <form method = "POST">
        <h1>Сторінка авторизації</h1>
        <h1>Ім'я</h1>
        <input type ="text" name = "name">
        <h1>Пароль</h1>
        <input type ="text" name = "password">
        <button type="submit">Відправити</button>
    </form> -->
{% endblock %}