{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="{{url_for('login_app.static', filename = 'css/style.css')}}">
    <img src="{{url_for('home_app.static', filename = 'images/frame_background.png')}}" alt="" class="frame_background">
    <h1 class = "h1Reg">Авторизація</h1>
    <form method = "POST">
        <input class = "inputName" type="text" name = "name" placeholder="Ім'я">
        <h1 class = "h1Password" >Пароль</h1>
        <input class = "inputPassword" type="text" name = "password" placeholder="Пароль">
        <button class = "send" type="submit">Відправити</button>
    </form>

    <!-- <form method = "POST">
        <h1>Сторінка авторизації</h1>
        <h1>Ім'я</h1>
        <input type ="text" name = "name">
        <h1>Пароль</h1>
        <input type ="text" name = "password">
        <button type="submit">Відправити</button>
    </form> -->
{% endblock %}