.frame_background{
    position: absolute;
    left: -10px;
    top: -10px;
    width: 1550px;
    height: 738px;
}

a{
    text-decoration: none;
    font-size: 34.85px;
    color:white;
    margin-left: 80.16px;
    font-weight: bold;

}
.reg{
    position: absolute;
    top: 22px;
    left: 15px;
    text-decoration: underline;
}

.log{
    position: absolute;
    top: 22px;
    left: 290px;    
}

.main2 {
    position: absolute;
    top: 22px;
    left: 590px;
    font-size: 34.85px;
    color:white;
    margin-left: 80.16px;
    font-weight: bold;
}

.tour2{
    position: absolute;
    top: 22px;
    left: 810px;
}

.h1Reg{
    position: absolute;
    /* left: 580px;
     */
    width: 1450px;
    text-align: center;
    top: 80px;
    font-size: 35px;
    color: white;
}

.inputName{
    position: absolute;
    top: 190px;
    left: 535px;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    border-radius: 35px;
    width: 400px;
    height: 45px;
    opacity: 0.5;
}

.inputPassword{
    position: absolute;
    top: 280px;
    left: 535px;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    border-radius: 35px;
    width: 400px;
    height: 45px;
    opacity: 0.5;
}

.send{
    position: absolute;
    left: 585px;
    width: 300px;
    height: 40px;
    border-radius: 35px;
    top: 370px;
    opacity: 0.5;
    font-size: 30px;
    color: rgb(150, 150, 150);
}
.main2 {
    position: absolute;
    top: 22px;
    left: 590px;
    font-size: 34.85px;
    color:white;
    margin-left: 80.16px;
    font-weight: bold;
}

.tour2{
    position: absolute;
    top: 22px;
    left: 810px;
}
.main1 {
    position: absolute;
    top: 22px;
    left: 280px;
    font-size: 34.85px;
    color:white;
    margin-left: 80.16px;
    font-weight: bold;
}
.tour1 {
    position: absolute;
    top: 22px;
    left: 520px;
}
.name1{
    position: absolute;
    top: -2px;
    left: 15px;
    color:white;
    font-size: 34.85px;
    
}
.logout {
    position: absolute;
    border: none;
    background: none;
    color: white;
    font-size:34.85px ;
    top: 22px;
    left: 1200px;
    font-weight: bold;
}
.monstrat {
    font-family: "Montserrat", sans-serif;
}