{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="{{url_for('tour_app.static', filename = 'css/style.css')}}">
    <img src="{{url_for('tour_app.static', filename = 'images/background.png')}}" alt="" class="frame_background">
    <img src="{{url_for('tour_app.static', filename = 'images/urls.png')}}" alt="" class='urls'>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Lato:wght@300;400&display=swap" rel="stylesheet">

    <div class = "monstrat">
        {% for Tour in all_tours %} 
            <hr class = hr>
            <img src="{{url_for('tour_app.static', filename = 'images/' + Tour.title + '.png')}}" alt="" class = "image">
            <a href = "specific_tour/" id = "{{Tour.id}}" class = "tourUrl">{{Tour.title}}</a>
            <h1 class="h1Date">{{Tour.date}}</h1>
            <h1 class="h1Country">{{Tour.country}}</h1>


        {% endfor %}
        {% if flask_login.current_user.is_authenticated %}
            <h1 class = "name1">Вітаємо, {{flask_login.current_user.name}}!</h1>
            <a class = "main1" class = "main" href="/">Головна</a>
            <a class = "tour1" href="/tour/">Путівка</a>
            <form action="/logout" method="POST">
                <button class= "logout" type = "submit">Вийти з аканту</button>
            </form>
        {% else %}  
            <a class = "reg" href="/registration/">Реєстрація</a>
            <a class = "log" href="/login/">Авторизація</a>
            <a class = "main2"href="/">Головна</a>
            <a class = "tour2" href="/tour/">Путівка</a>
        {% endif %}
    </div>

    <h1 class = 'circle'></h1>
    <script src = "{{url_for('tour_app.static',filename = 'js/tour.js')}}" class="jsScript"></script>
{% endblock %}